{% extends "base.html" %}

{% block title %}About{% endblock title %}

{% block content %}
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <div class="container-fluid">
                    <div class="map-responsive">
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card border-primary">
                    <div class="card-header text-bg-primary">
                    </div>
                    <div class="card-body text-primary">
                        <blockquote class="blockquote mb-0">
                            <footer class="blockquote-footer">My App</footer>
                        </blockquote>                      
                    </div>
                </div>

                <div class="card border-primary" style="margin-top:10px;">
                    <div class="card-header text-bg-primary">
                        <h1>Contact</h1>
                    </div>
                    <div class="card-body text-primary">
                        <h5 class="card-title">Visit us!</h5>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus facere illum dicta maxime fuga possimus? Tenetur quos ad maiores quaerat nisi cum magni molestias soluta odio nostrum, sunt maxime dolorum.</p>     
                        
                        <h5 class="card-title">Lorem ipsum dolor sit.</h5>
                        <p class="card-text"><i class="fa-solid fa-phone"></i> 111-111-111 &nbsp;<i class="fa-solid fa-envelope"></i> example@mail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}